h1{
    text-align: center;
}
p{
    text-align: center
}
body{
    background-color: tan;
}
#dif{
    color:green;
}
.Html{
    color:blue;
}
.Css{
    color:red;
}
.js{
    color:purple;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}